<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title>TextUtils</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <style>
    .container bg-light{
        margin-bottom: -60px;
    }
    </style>
  </head>
  <body class="p-3 m-0 border-0 bd-example m-0 border-0">
    <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container-fluid bg-warning">
        <a class="navbar-brand" href="/">TextUtils</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/aboutus">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contactus">Contactus</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2 bg-secondary" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-info" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
  <strong>AboutUs</strong> We have no secret...!!!!
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<div class="container bg-light">
<h1>AboutUs </h1>

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ut dapibus lorem, a aliquet eros. Aliquam cursus auctor tellus, nec tincidunt velit auctor id. Phasellus hendrerit quam ipsum, vel tempor lectus aliquam at.</p>
          <p>Sed vel lectus eu metus interdum elementum. Donec pulvinar congue turpis, eget semper tortor semper eu. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed vel consectetur dolor. Donec rhoncus, dui non vestibulum semper, mauris arcu varius dui, nec convallis ex libero et enim.</p>
    
  </section>

  <footer class="bg-dark text-white text-center py-2 ">
    <div class="container">
      <p>&copy; 2023 Your Website. All rights reserved.</p>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
 </body>
</html>